extends layout

block content
  h1= title

  // Ensure 'results' is passed to the template
  - let items = results;

  // Main container
  .container-fluid
    .row
      button(type="button" onclick="window.location='/create'") Create New Relic

      // Loop through each item in the relic collection (results)
      each relic, index in items
        .col-sm-2
          h3 #{relic.relic_name}

          p Origin: #{relic.origin}
          p Estimated Value: #{relic.estimated_value}$

          // Button to view details of each relic
          button(type="button" onclick=`dispatch('/relics/detail?id=${relic._id}')`) View Details


          // Button to delete each relic
          //button(type="button" onclick="window.location='/delete/#{relic.relic_id}'") Delete Relic
          button(type="button" onclick=`dispatch('/relics/delete?id=${relic._id}')`)  Delete Relic

          // Purchase button
          button(type="button", class="btn btn-outline-success", onclick=`buy(${index})`) Purchase

          // Update button
          button(type="button", class="btn btn-primary ml-1", onclick=`dispatch('/relics/update?id=${relic._id}')`) Update


  // JavaScript functions for handling actions
  script.
    function dispatch(path) {
      window.location.href = path;
    }

    function buy(index) {
      alert(`You purchased item ${index + 1}`);
    }
