extends layout

block content
  h1= title

  // Ensure 'results' is passed to the template
  - let items = results;

  // Main container
  .container-fluid
    .row
      // Loop through each item in results
      each relic, index in results
        .col-sm-2
          h3 #{relic.relic_name}
          p Origin: #{relic.origin}
          p Estimated Value: #{relic.estimated_value}$
          
          // Purchase button
          button(type="button", class="btn btn-outline-success", onclick=`buy(${index})`) Purchase

          // Update button
          button(type="button", class="btn btn-primary ml-1", onclick=`dispatch('/relics/update?id=${relic._id}')`) Update

  // JavaScript functions
  script.
    function dispatch(path) {
      window.location.href = path;
    }
    function buy(index) {
      alert(`You purchased item ${index + 1}`);
    }
