extends layout

block content
  h1= title

  // Unbuffered code block to define results array
  -

  // Container for Bootstrap grid
  .container-fluid
    .row
      // Loop through each item in the results array with index
      each relic, index in results
        .col-sm-2
          h3 #{relic.relic_name}
          p Origin: #{relic.origin}
          p Estimated Value: #{relic.estimated_value}$

          // Button that calls buy() function with the index of the relic
          button(type="button", class="btn btn-outline-success", onclick=`buy(${index +1})`) Purchase

  // Script to define the buy() function
  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
    }
  